{% extends 'base.html' %}

{% block title %}Login - My Site{% endblock %}

{% block content %}
<section class="section-home">
    <div class="container">
        {{ form.errors }}
        {% for message in messages %}
            <p class="form-error">{{ message }}</p>
        {% endfor %}
        <form class="login-form" action="" method="post">
            {% csrf_token %}
            <h3>Login</h3>
            <div class="input-group">
                <p>Username:</p>
                <input type="text"class="login" id="username" name="username" required>
            </div>

            <div class="input-group">
                <p>Password:</p>
                <input type="password" class="login" id="password" name="password" required>
            </div>
            

            <button type="submit">Login</button>
            
            <p>Don't have an Account?</p>
        
            <a href="{% url 'register' %}" class="btn">Register</a>
        </form>
    </div>
</section>
{% endblock %}
