{% extends 'base.html' %}

{% load static %}

{% block title %}About{% endblock %}

{% block content %}
<h3 style="text-align: center">
    About Us
  </h3>
  <section>
    <div class="section-home">
      <h3 class="home-text-content"">
        Empower Your Eco-Journey with Carbon Footprint Checker
      </h3>
      <p class="home-text-content">
        Welcome to CarbonTrack, your reliable partner in sustainable living!
        At CarbonTrack, we believe that small actions can make a big
        difference in the fight against climate change. Our mission is to
        empower individuals and businesses with the knowledge and tools to
        reduce their carbon footprint and contribute to a healthier planet.
      </p>
    </div>

    <div class="home-image-content">
      <img src="{% static '/images/about-image1.jpg' %}" alt="">
    </div>

    <div class="section-home">
      <h3 class="home-text-content"">
        Our Vision
      </h3>
      <p class="home-text-content">
        We envision a world where everyone is aware of their environmental impact and actively takes steps to minimize it. By providing             a user-friendly and comprehensive carbon footprint checker, we aim to inspire a global movement towards sustainable living.
      </p>
    </div>

    <div class="home-image-content">
        <img src="{% static '/images/about-image2.jpg' %}" alt="">
    </div>

    <div class="section-home">
      <h3 class="home-text-content"">
        What We Offer
      </h3>
      <p class="home-text-content">
        CarbonTrack is more than just a carbon footprint checker; it's your personal guide to a greener lifestyle. Our platform                     calculates your carbon footprint based on various factors such as energy consumption, transportation habits, and lifestyle                   choices. We then provide personalized recommendations on how you can reduce your carbon emissions and make a positive impact               on the environment.
      </p>
    </div>

    <div class="section-home">
      <div class="home-text-content">
        <h3>
          Why Choose Us?
        </h3>
        <p>
          Accuracy: Our carbon footprint calculator is backed by robust data and the latest research to ensure accurate and reliable                   results. <br /><br />

          User-Friendly Interface: We've designed our platform to be intuitive and easy to use, making it accessible to users of all ages             and backgrounds. <br /><br />

          Actionable Insights: Beyond just calculating your carbon footprint, we provide practical suggestions and resources to help you               make informed decisions on reducing your environmental impact. <br /><br />

          Community Engagement: Join a community of like-minded individuals who are passionate about sustainability. Share your                       achievements, learn from others, and contribute to the collective effort to combat climate change.
        </p>
        </div>
        <div class="home-image-content">
            <img src="{% static '/images/about-image3.jpg' %}" alt="">
        </div>
     
    </div>

    <div class="section-home">
      <h3 class="home-text-content"">
        Our Commitment to Privacy
      </h3>
      <p class="home-text-content">
        At CarbonTrack, we prioritize your privacy. We adhere to strict data protection standards, ensuring that your information is               secure and confidential. We believe that sustainability and privacy can go hand in hand.
      </p>
    </div>

    <div class="section-home">
      <h3 class="home-text-content"">
        Get Involved!
      </h3>
      <p class="home-text-content">
        Ready to take the first step towards a greener future? Join CarbonTrack today and start your journey towards a more sustainable             lifestyle. Together, we can make a significant impact on the health of our planet and create a better world for future generations.

      Thank you for choosing CarbonTrack – where sustainability meets simplicity!          </p>
    </div>

    <div class="home-image-content">
      <img src="{% static '/images/about-image4.jpg' %}" alt="">
    </div>
    
  </section>
{% endblock %}