{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
<h3 style="text-align: center">Contact Us</h3>
<section class="section-home">
  <div class="home-text-content" style="margin-bottom: 350px">
    <p>If you have any questions or concerns, please feel free to reach out to us using the contact information below:</p>
    <p><strong>Email:</strong> info@carbonchecker.com</p>
    <p><strong>Phone:</strong> +592</p>
    <p><strong>Address:</strong> 123 Carbon Street, Green City</p>
    </div>
  </section>
{% endblock %}