{% extends 'base.html' %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
<h3 style="text-align: center">
    Our Privacy Policy
  </h3>
  <section class="section-home">
    <div class="home-text-content">
      <h2>Introduction</h2>
      <p>Welcome to Carbon Footprint Checker. This Privacy Policy outlines how we collect, use, disclose, and protect your personal information when you use our website and services.</p>
    </div>

    <div class="home-text-content">
      <h3>Information We Collect</h3>
      <h2>Personal Information:</h2>
      <p>When you use our carbon footprint checker, we may collect personal information such as your name, email address, and location.</p>

      <h2>Usage Data:</h2>
      <p>We collect information about how you interact with our website, including your usage patterns, preferences, and the pages you visit.</p>
    </div>
  </section>

  <section class="section-home">
    <div class="home-text-content">
      <h3>How We Use Your Information</h3>
      <p>We use the collected information for the following purposes:</p>
      <ul>
          <p>To provide and improve our carbon footprint checker services.</p>
          <p>To personalize your experience and offer tailored content.</p>
          <p>To communicate with you, respond to inquiries, and send relevant updates.</p>
      </ul>
    </div>

    <div class="home-text-content">
      <h2>Contact Us</h2>
      <p>For questions or concerns regarding this Privacy Policy, please contact us at [your contact email address].</p>
    </div>
      
  </section>
{% endblock %}