{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carbon Footprint Checker</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/misc/site.webmanifest' %}">
  
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet"> 
</head>
<body>

    <header>
        <div class="header-content">
            <a href="{% url 'home' %}"><h2>Carbon Footprint Checker</h2></a>
            <nav>
                <ul>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    <li><a href="{% url 'privacy' %}">Privacy</a></li>
                    <li><a href="{% url 'all_articles' %}">Articles</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                        <li><a href="{% url 'analyze' %}">Analyze CO2 Usage</a></li>
                        <li><a href="{% url 'list_website_reports' %}">View Reports</a></li>
                    {% else %}
                        <li><a href="{% url 'register' %}">Login/Register</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

  <footer>
      <div class="footer">
      <div class="row">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-youtube"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      </div>

      <div class="row">
      <ul>
      <li><a href="#">Contact us</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Dashboard</a></li>
      <li><a href="#">Reports</a></li>
      <li><a href="#">Terms and Conditions</a></li>
      </ul>
      </div>

      <div class="row">
      © 2023 Carbon Footprint Checker. All rights reserved
      </div>
      </div>

  </footer>

  {% block javascript %}
  {% endblock %}

</body>
</html>